/*https://www.w3schools.com/php/php_file_upload.asp*/

*{
    margin: 0;
    border: 0 ;
    text-decoration: none;
    box-sizing:border-box;
    padding: 0;
}


body{
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    height: 100px;
    width: 100%;
    background-color: dimgray;
    display: flex;
    justify-content: center;
    align-items: center;

}

nav{
    height: 170px;
}


main{
    width: 100%; 
    height: 100%;                
    background: #919191;
    padding: 15px 40px;       
    display: flex; 
    flex-direction: column;   

    label{
        margin: 3px;
    }

    input{
        padding: 4px;
        margin: 3px;
        border-radius: 8px;
    }

     a{
        background-color: rgb(212, 212, 212);
        border-radius: 0px 8px 8px 8px;
        padding: 5px;
 
        color: darkred;
        font-weight: bold;
     }
     
     p{
        display: flex;
        justify-content: center;
     }

    h5{
        margin-top: 50px;

     }

    h5, h2, h3, h4{
        background-color: rgb(212, 212, 212);;
        padding: 5px;
        width: 90%;
        padding-left: 25px;
    }

    h5{
    border-radius: 8px 8px 0px 0px;
    }

    h3{
    border-radius: 0px 0px 8px 0px;
    }

    h1{
        font-size: 20px;
        text-align: center;
    }

    #btnalterar,#btncancelar{
        background-color: black;
        color: white;
    }
    
    #btnalterar:hover,#btncancelar:hover{
        background-color: white;
        color: black;
        cursor: pointer;
    }
}

main #login{    
    display: flex;
    align-items: end;
    padding: 10px;
    border-radius: 15px;
    background-color: #dcd0a89a;
     }

footer{
    height: 150px;
    width: 100%;
    background-color: dimgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    p{
        margin-bottom: 10px;
        font-weight: bold;
    }


    a{
        border-radius: 8px;
        padding: 8px;
        color: white;
        font-weight: bold;
        background-color: black;
    }

    a:hover{
        background-color: white;
        color: black;
    }
}

